$ancho_maximo: 1400px;
$color_delmenu: rgb(98, 122, 155);
$color_delfooter:rgb(180, 188, 199);
$block_centrado: 0 auto;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

body {
    max-width: $ancho_maximo;
    width: 100%;
    position: relative;
    margin: $block_centrado;
   }


/* ESTILOS PARA HEADER */

#header .navBar {
    width: 100%;
    height: 90px;
    background-color: $color_delmenu;
    max-width: $ancho_maximo;
    position: fixed;
    display: flex;
    justify-content: space-between;
    block-size: auto;
    align-items: center;
}

#header #navBar .menu{
    display: flex;
    justify-content: end;
    width: 80%;
}

#header #navBar .menu li{
    width: 15%;
}


#header picture{
    width: 20%;
}






/* ESTILOS PARA MAIN */

/*INDEX*/

#main{
   
    width: 100%;
    margin: $block_centrado;
    padding-top: 100px;
}

img{
    border-radius: 10px;
}

#main .titulo {
    
    text-align: center;
    
}

#main .texto{
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    

}

#main #picture{
    display: block;
    text-align: center;
    
}

#main #video{
    margin: $block_centrado;
    display: block;
}

/* ESTILOS PARA EL FOOTER */



#footer {
    background-color: $color_delfooter;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: 20px;
}

.footer-logo img {
    width: 150px;
}

.footer-links, .footer-links-autor h3{
    text-align: center;
}

.footer-redes img{
    width: 90px;
    display: inline-block;
}